@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$color-white: #b1b1b1;
$color-black: #111;

$color-primary: #150050;
$color-secondary: #5e1c94;
$color-tertiary: #FB2576;

$font: 'Caudex', serif;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  //overflow-y: scroll;
}

body {
  overflow-x: hidden;
  overflow-y: visible;
  background-color: $color-black;
  font-family: $font;
  //position: relative;
  color: $color-white;
}